body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
}

.body-container {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
}

#header-container {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    background-color: rgb(109, 163, 141);
    padding: 15px;
    font-size: 1.4rem;
}

#sidebar-container {
    background-color: rgb(39, 63, 54);
    color: white;
    padding-left: 10px;
}

.sidebar-section {
    padding: 30px 0;
}

.nav-container {
    display: grid;
    grid-template-columns: 30px 4fr;
    align-items: center;
    font-size: 1.3rem;
    gap: 10px;
    padding-bottom: 15px;
}

.nav-icon {
    justify-self: center;
}

.project-section {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration-line: underline;
    padding-bottom: 15px;
}

.project-text {
    text-decoration: none;
    font-size: 1.3rem;
}

#new-project {
    /* display: grid;
    grid-template-columns: 30px 4fr;
    align-items: center;
    font-size: 1.1rem;
    background-color: rgba(128, 128, 128, 0.491);
    border-radius: 10px;
    width:max-content;
    gap: 10px;
    padding: 7px;
    margin-top: 20px; */
}

#new-project:hover {
    cursor: pointer;
}

.project-container {
    display: grid;
    grid-template-columns: 4fr 30px;
    align-items: center;
    padding-left: 20px;
    font-size: 1.2rem;
}

#projects-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}


#add-project {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(39, 63, 54);
    border: none;
}

#add-project:hover {
    cursor: pointer;
}

#new-project-form {
    display: none;
    margin-top: 20px;
}

#new-project-entry {
    font-size: 1rem;
    width: 140px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
}

#new-project-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 25px;
    
}

#add-new-project {
    border: 2px solid rgb(0, 197, 0);
    background-color: rgba(131, 255, 127, 0.3);
}

#cancel-new-project {
    border: 2px solid rgb(255, 91, 91);
    background-color: rgba(255, 0, 0, 0.3);
}

#add-new-project,
#cancel-new-project {
    border-radius: 10px;
    padding: 5px;

}

#add-new-project:hover,
#cancel-new-project:hover {
    cursor: pointer;
}

#new-task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: grey
}

.delete {
    width: 20px;
    height: 20px;
}

#form-container {
    display: none;
    position: fixed;
    border: 2px solid black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(57, 57, 60, 0.85); 
}

#task-form {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    border: 2px solid black;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    max-width: 400px; 
    margin: 300px auto;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 20px;
    gap: 10px;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
}

#form-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.form-label {
    grid-column: 1;
}

.form-input {
    grid-column: 2;
    width: 225px;
}

#date-input {
    width: 245px;
}

#priority-input {
    width: 250px;
}

.title {
    grid-row: 2;
}

.description {
    grid-row: 3;
}

.date {
    grid-row: 4;
}

.priority {
    grid-row: 5;
}

#submit-button {
    grid-row: 6;
}

#close-button {
    font-weight: bold;
    width:fit-content;
    height: fit-content;
}

#close-button:hover {
    cursor: pointer;
}

#small-text-input{
    height: 20%;
    align-self: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    max-width: 100%;
}

#large-text-input {
    height: 20%;
    align-self: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    max-width: 100%;
}

